body {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: sans-serif
}

.z-tbl {
  background-color: aliceblue;
  overflow-x: auto;

  border: 15px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 repeat;
}

.z-tbl th, td {
  border: dashed black 1px;
  padding: 10px;
}

.sub-title {
  font-size: 20px;
  font-weight: bold;
}

.tbl-container {
  direction: rtl;
  overflow-x: auto;
}

.play-btn {
  width: 4rem;
}

.counter {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.message {
  color: #5229ec;
  text-align: center;
  margin-top: 10px;
}

#visits {
  background-color: #d3be67;
  font-size: 30px;
}

.cnt-span {
  font-size: 30px;
}

.past-show {
  text-decoration: line-through
}

.special-show {
  background-color: #b0e5b3;
}
