body {
  background-image: url('logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: "Al Bayan";
}

.z-tbl{
  background-color: aliceblue;
  border: solid black 2px;
  border-radius: 10px;
}

.z-tbl th, td {
  border: dashed black 1px;
  padding: 10px;
}

.sub-title{
  font-size: 20px;
  font-weight: bold;
}
